<h1 style="
  font-family: Georgia, serif;
  font-size: 44px;
  text-align: center;
  color: #ef12d2;
  margin: 30px 0 10px 0;
">
Pandas Introduction
</h1>

<p style="
  text-align:center;
  font-size:16px;
  color:#6b7280;
">
Pandas is an open-source Python library used for data manipulation, analysis and cleaning. It provides fast and flexible tools to work with tabular data, similar to spreadsheets or SQL tables.
</p>

<div style="
  background: #f9fafb;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin: 20px 0;
">
  <h4 style="margin-top:0; color:#111827;">Pandas is used in data Science,ML,Finance</h4>
  <p style="margin-bottom:0; color:black">
    NumPy: numerical operations
    Matplotlib and Seaborn: data visualization
    SciPy: statistical analysis
    Scikit-learn: machine learning workflows
  </p>
</div>

Data Structures 
1.panda Series

2.Panda DataFrame

3.operations-Loading data,viewing and exploring data,
handling missing data,selecting and filtering data,adding and removing columns,grouping data

In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)
lst=['Harshith','vinesh','rao','saritha','rani']
df=pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
          0
0  Harshith
1    vinesh
2       rao
3   saritha
4      rani

In [3]:
import numpy as np
data=np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(data,columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
#json resonses often contain lists of dictionaries
dict={'name':['Harshith','vinesh','rao','saritha','rani'],
        'degree':['btech','cse','2nd Year','Law','PG'],
        'score':[89,98,67,99,99]}
df=pd.DataFrame(dict)
print(df)

       name    degree  score
0  Harshith     btech     89
1    vinesh       cse     98
2       rao  2nd Year     67
3   saritha       Law     99
4      rani        PG     99

pandas.DataFrame(data, index, columns) 

Parameters: 

 data: It is a dataset from which a DataFrame is to be created. It can be a list, dictionary, scalar value, series, and arrays, etc. 

 index: It is optional, by default the index of the DataFrame starts from 0 and ends at the last data value(n-1). It defines the row label explicitly.
  
 columns: This parameter is used to provide column names in the DataFrame. If the column name is not defined by default, it will take a value from 0 to n-1. 
Returns:

DataFrame object